
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.csss">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{errortext}}</p>
</div>

{{>footer}}
</body>
</html>